<!DOCTYPE html>
<html lang="en">
<head>
    <title>HTML</title>
</head>
<body>
    <center>
    <h1>Formulir</h1>
    <img src="http://localhost:5000/file/black_knight.png" alt="gambar helm" height="300" width="300">
    <form action="http://localhost:5000/post" method="post">
        <p>Nama : <input name="nama_login" type="text" placeholder="Ketik Nama Anda ..."></p>
        <p>Pass : <input name="pass_login" type="password" placeholder="Ketik Password ..."></p>
        <input type="submit" value="Kirim ke Post"> <!-- kalo submit akan refresh page -->
    </form>
    <!---- <button>Coba aja Klik Sini</button> => cuma tes, kalo button ga akan refresh page -->
    </center>
</body>
</html>