<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tes Flask</title>
</head>
<body>
    <h1>Selamat Datang di Backend Saya</h1>
    <a href="/data">Go to slash data</a>
    <h3>Kamu Asal mana?</h3>
    <select name="" id="">
        <option value="">Jakarta</option>
        <option value="">Bandung</option>
        <option value="">Surabaya</option>
    </select>
    <hr/>
    <marquee behavior="" direction="">
    <a href="/data" target="_blank">
    <img src="http://www.gnosispro.org/images/welcome.png" alt="Gambar">
    </a>   
    </marquee>
</body>
</html>